body {
    background-color: grey;
}


.parent {
    display: flex;
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 20px;
}

.child {
    background-color: grey;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    flex: auto;
    overflow: hidden;
}

.form-main {
    display: flex;
    border: 2px black;
    margin: 20px 0px ;
    width: auto;
    height: auto;
    background-color: red;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    background-color: wheat;
    padding: 25px;
    border: 1px solid black;
    width: 650px;
    justify-content: center;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name {
    flex-grow: 1;
    flex-basis: 168px;
}

.email {
    flex-grow: 1;
    flex-basis: 200px;
}

button {
    flex-grow: 1;
    flex-basis: 80px;
}


